@model IEnumerable<GeorgeStefan.DataModel.Depot>

@{
    ViewBag.Title = "Depots";
}

<div class="mb-3">
    <h1>@ViewBag.Title</h1>
    <div class="d-flex justify-content-between">
        <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
        <a asp-action="Weight" class="btn btn btn-outline-success">Drug Weights</a>
    </div>
</div>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepotName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepotName)
                </td>
                <td class="text-right">
                    <a asp-action="Edit" asp-route-id="@item.DepotId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DepotId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DepotId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
