@model IEnumerable<GeorgeStefan.DataModel.Country>

@{
    ViewBag.Title = "Countries";
}

<div class="mb-3">
    <h1>@ViewBag.Title</h1>

    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</div>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                Country
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depot.DepotName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CountryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CountryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CountryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
