@model IEnumerable<GeorgeStefan.DataModel.DepotCorrelation>

@{
    ViewBag.Title = "Depot Units";
}

<h1>@ViewBag.Title</h1>


<div class="row">
    @foreach (var data in Model)
    {
        <div class="col-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title m-0 font-weight-bolder">@data.DepotName</h5>
                </div>
                <div class="card-body">
                    <p class="card-text"><span class="font-weight-bold">Country:</span> @data.CountryName</p>
                    <p class="card-text"><span class="font-weight-bold">Drug Type:</span> @data.DrugTypeName</p>
                    <p class="card-text"><span class="font-weight-bold">Unit Id:</span> @data.DrugUnitId</p>
                    <p class="card-text"><span class="font-weight-bold">Pick Number:</span> @data.PickNumber</p>
                </div>

            </div>
        </div>
    }
</div>






