@model GeorgeStefan.DataModel.DrugUnit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DrugUnit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Depot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Depot.DepotId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrugType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrugType.DrugTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DrugUnitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
