@model IEnumerable<GeorgeStefan.DataModel.DrugType>

@{
    ViewBag.Title = "Drug Types";
}

<div class="mb-3">
    <h1>@ViewBag.Title</h1>

    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</div>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                Drug Type
            </th>
            <th>
                Weight (Lb)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrugTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightInPounds)
            </td>
            <td class="text-right">
                <a asp-action="Edit" asp-route-id="@item.DrugTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DrugTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DrugTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
